In [ ]:
# Definindo o Spark Session
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CriacaoDataframe").getOrCreate()

In [ ]:
#Carregando dados em um Dataframe e Listando
from datetime import datetime, date
from pyspark.sql import Row


datf = spark.createDataFrame([
    Row(Cidade='Salvador', Populacao=6., Time='Bahia', Dat_cadastro=date(2021, 10, 10)),
    Row(Cidade='Sao Paulo',Populacao=45., Time='Sao Paulo', Dat_cadastro=date(2021, 5, 5)),
    Row(Cidade='Recife', Populacao=3., Time='Sport',Dat_cadastro=date(2021, 7, 2)),
    Row(Cidade='Maceio', Populacao=2., Time='CSA', Dat_cadastro=date(2021, 8, 1)),
])

datf

In [ ]:
# Exibindo os dados do Dataframe
datf.show()

In [ ]:
# Exibindo apenas dois registros no Dataframe
datf.show(2)

In [ ]:
# Exibindo tres registros do Dataframe na vertical
datf.show(3, vertical=True)

In [ ]:
# Exibindo todos os dados com o collect()
datf.collect()

In [ ]:
# Sumarizando os dados a partir de determinados campos
datf.select("Cidade", "Populacao").describe().show()

In [ ]:
# Exibindo o Schema do Dataframe
datf.printSchema()

In [ ]:
# Carregando o modulo de funções, expecificamente a função Upper
from pyspark.sql.functions import upper


datf.withColumn('Cidade_U', upper(datf.Cidade)).show()

In [ ]:
# Filtrando a Cidade de Salvador nos dados
datf.filter(datf.Cidade == "Salvador").show()

In [ ]:
# Criando uma tabela temporária em memória com os dados e utilizando consulta SQL
datf.createOrReplaceTempView("Dados")
spark.sql("select count(*) from Dados").show()

## Transformando um RDD em Dataframe

In [ ]:
# carregando os dados sobre Capital de paises
pais = [("Brasil",10000),("Argentina",20000),("Australia",35000),("Italia",40000),("Egito",65000),("Mexico",80000)]
rddpais= spark.sparkContext.parallelize(pais)

In [ ]:
# convertendo os dados do RDD para Dataframe com a operação toDF() 
dataframerdd= rddpais.toDF()

In [ ]:
# Exibindo os dados do Dataframe
dataframerdd.show()

In [ ]:
# Criando o schema das colunas dos campos do Dataframe
Colunas = ["Pais","Total_capital(Bilhoes)"]
dataframerdd2= rddpais.toDF(Colunas)
dataframerdd2.printSchema()
dataframerdd2.show(truncate=False)